.firstSection{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 55px;
    padding-top: 90px;
    padding-bottom: 60px;
    background: white;

    aside{
        display: flex;
        flex-direction: column;
        gap: 45px;
        position: relative;

        .introDiv{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 80px;

            h1{
                font-weight: 800;
                font-size: 55px;
                letter-spacing: -0.1px;
                line-height: 44px;
                font-family: Salks;
                margin-bottom: 20px;
                color: #666;
            }
            h3{
                font-size: 19px;
                line-height: 23px;
                font-family: Smeltex;
                color: #666;
            }
        }
        .socialLinks{
            display: flex;
            gap: 20px;
            align-items: center;

            h4{
                font-weight: normal;
                font-size: 24px;
                font-family: Salks;
                color: #666;
            }
            .icon{
                font-size: 18px;
            }

            .linkedIcon{
                color: #2885ff;
                &:hover{
                    background: #2885ff;
                    color: white;
                }
            }
            .gitIcon{
                color: #2e2c2c;

                &:hover{
                    background: #2e2c2c;
                    color: white;
                }
            }

        }

        .hexagon { 
            position: absolute; 
            margin: 0 auto; 
            background-color: dodgerblue; 
            border-radius: 14px; 
            width: 300px;  
            height: 189px; 
            box-sizing: border-box; 
            transition: all 1s; 
            border: 0.4vh solid transparent; 

            &:before, &:after { 
                content: ""; 
                border: inherit; 
                position: absolute; 
                top: -0.5vh; 
                left: -0.5vh; 
                background-color: dodgerblue; 
                border-radius: inherit; 
                height: 100%; 
                width: 100%; 
            } 

            &:before { 
                transform: rotate(60deg); 
            } 
            &:after { 
                transform: rotate(-60deg); 
            }
        } 
      &:nth-child(2n){
        justify-content: center;
        align-items: center;
      }
        /* Creating pseudo-class */
 
          
        /* Align them in such a way 
        that they form a hexagon */
  
    }

}
