.firstSection{
    width: 100vw;
    height: auto;
    min-height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
    background: var(--white-bg);

    aside{
        display: flex;
        flex-direction: column;
        gap: 45px;
        position: relative;
        justify-content: center;

        .introDiv{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 80px;

            h1{
                font-weight: 800;
                font-size: 55px;
                letter-spacing: -0.1px;
                font-family: Salks;
                margin-bottom: 10px;
                color: var(--font-color);
                text-wrap: balance;
                max-width: 580px;
            }
            span{
                color: var(--sub-heading);
                font-size: 44px;
                line-height: 1.1;
                letter-spacing: -0.1px;
                font-family: Salks;
                font-weight: 800;

            }
            p{
                font-size: 16px;
                font-family: Futura;
                color: var(--heading-color);
                margin-top: 20px;
                text-wrap: balance;
                a{
                    text-decoration: underline;
                    cursor: pointer;
                }
                .specialChar{
                    color: var(--special-color);
                    font-size: inherit;
                    font-weight: 900;
                    font-family: salks;
                    color: white;
                }
            }
        }
        .socialLinks{
            display: flex;
            gap: 20px;
            align-items: center;

            h4{
                font-weight: normal;
                font-size: 24px;
                font-family: Salks;
                color: var(--font-color);
            }
            .icon{
                font-size: 24px;
            }

            .gitIcon{
                color: var(--icon-github);
                cursor: pointer;

                &:hover{
                    color: var(--icon-hover);
                }
            }

        }

        .imgCtnr{
           width: 500px;
           height: 500px;
            border-radius: 50%;
            overflow: hidden;
            background: transparent; 
            background-blend-mode: darken;
            display: flex;
            justify-content: center;

            img{
                width: fit-content;
                height: fit-content;
                background-position: top;            }
        }

 @mixin animate($animation-name, $animation-duration, $animation-direction, $animation-iteration-count){
            animation : $animation-name $animation-duration $animation-direction $animation-iteration-count ;
        }

        @mixin keyframes($name){
            @keyframes #{$name}{
                @content;		
            }
        }

            // .card2{
            //     @include animate(animateY, 3s, linear, infinite);

            //     @include keyframes(animateY) {
            //         0% {
            //           transform: translateY(0px);
            //           opacity: 1;
            //         }
            //         100% {
            //           transform: translateY(-50px);
            //           opacity: 0;
            //         }
            //       }
            // }

            // .card3{
            //     @include animate(animateX, 3s, linear, infinite);

            //     @include keyframes(animateX) {
            //         0% {
            //           transform: translateX(0);
            //           opacity: 1;
            //         }
            //         100% {
            //           transform: translateX(-50px);
            //           opacity: 0;
            //         }
            //       }
            // }

        // .hexagon { 
        //     position: absolute; 
        //     margin: 0 auto; 
        //     background-color: dodgerblue; 
        //     border-radius: 14px; 
        //     width: 400px;  
        //     height: 252px; 
        //     box-sizing: border-box; 
        //     transition: all 1s; 
        //     border: 0.4vh solid transparent; 
        //     @include animate(animateRotate, 3s, linear, infinite);

        //     @include keyframes(animateRotate) {
        //         0% {
        //           transform: rotate(0deg);
        //         }
        //         20%{
        //             transform: rotate(60deg);
        //         }
        //         40%{
        //             transform: rotate(120deg);
        //         }
        //         60%{
        //             transform: rotate(180deg);
        //         }
        //         80%{
        //             transform: rotate(240deg);
        //         }
        //         100% {
        //             transform: rotate(300deg);
        //         }
        //       }


        //     &:before, &:after { 
        //         content: ""; 
        //         border: inherit; 
        //         position: absolute; 
        //         top: -0.5vh; 
        //         left: -0.5vh; 
        //         background-color: dodgerblue; 
        //         border-radius: inherit; 
        //         height: 100%; 
        //         width: 100%; 
        //     } 

        //     &:before { 
        //        transform: rotate(60deg); 
        //         @include animate(animateBeforeRotate, 3s, linear, infinite);

        //         @include keyframes(animateBeforeRotate) {
        //             0% {
        //               transform: rotate(60deg);
        //             }
        //             20%{
        //                 transform: rotate(120deg);
        //             }
        //             40%{
        //                 transform: rotate(180deg);
        //             }
        //             60%{
        //                 transform: rotate(240deg);
        //             }
        //             80%{
        //                 transform: rotate(300deg);
        //             }
        //             100% {
        //                 transform: rotate(360deg);
        //             }
        //           }
        //     } 
        //     &:after { 
        //         transform: rotate(-60deg);
        //         // @include animate(animateAfterRotate, 3s, linear, infinite);

        //         // @include keyframes(animateAfterRotate) {
        //         //     0% {
        //         //       transform: rotate(-360deg);
        //         //     }
        //         //     20%{
        //         //         transform: rotate(-300deg);
        //         //     }
        //         //     40%{
        //         //         transform: rotate(-240deg);
        //         //     }
        //         //     60%{
        //         //         transform: rotate(-180deg);
        //         //     }
        //         //     80%{
        //         //         transform: rotate(-60deg);
        //         //     }
        //         //     100% {
        //         //         transform: rotate(-0deg);
        //         //     }
        //         //   }
        //     }


        // } 
      &:nth-child(2n){
        justify-content: center;
        align-items: center;
      }
        /* Creating pseudo-class */
 
          
        /* Align them in such a way 
        that they form a hexagon */
  
    }

}
