@import "../../ReponsiveStyles/mobileDesign.scss";
.firstSection{
    @include xs{
        grid-template-columns: 1fr;
        min-height: fit-content;
        max-height: fit-content;
        padding: 40px 30px;

        .pictureCtnr{
            grid-row-start: 2;

            .imgCtnr{
                width: 300px;
                height: 300px;

                img{
                    width: 300px;
                }
            }
        }
        aside{
            width: 100%;
            .introDiv{
                width: 100%;
                padding-top: 40px;
                h1{
                    font-size: 2.4em;
                    text-align: center;
                }
                span{
                    font-size: 1.3em;
                }
                p{
                    text-align: left;
                    font-size: 1.1em;
                    white-space: pre-wrap;
                }
            }

        }
    }

    @include sm{
        grid-template-columns: 1fr;
        padding-left: 40px;
        aside{
            .introDiv{
                padding-top: 20px;
                h1{
                    font-size: 3.1em;
                }
                span{
                    text-align: center;
                }
                p{
                    text-align: center;
                    max-width: 80%;
                    text-wrap: pretty;
                }
            }
        }
        .pictureCtnr{
            grid-row-start: 1;
            align-items: center;
            .imgCtnr{
                width: 400px;
                height: 400px;
                align-items: start;
                padding-bottom: 50px;

                img{
                    margin-top: -160px;
                }
            }
        }
    }
}