@import "../../ReponsiveStyles/mobileDesign.scss";
.firstSection{
    @include xs{
        grid-template-columns: 1fr;
        min-height: fit-content;
        max-height: 100vh;
        padding-top: 0;
        padding-left: 30px;
        padding-right: 30px;
        aside{
            width: 100%;
            .introDiv{
                width: 100%;
                padding-top: 40px;

                h3{
                    text-align: left;
                    margin-top: 20px;
                }
            }
            &:nth-child(2){
                display: none;
            }
        }
    }
}