.topSection{
    width: 100%;
    height: 100vh;
    background-image: url("../../Images/pexels-billelmoula-540518.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .name{
        font-size: 4.5em;
        font-family: salks;
        color: white;
        position: absolute;
        top:1000px;
        // animation: animateDisplay 3s ease-in 0.2s;

        // @keyframes animateDisplay{
        //     0%{
        //         opacity: 0;
        //     }
        //     100%{
        //         opacity: 1;
        //     }
        // }
    }
    .nameCtnr{
        position: relative;
        width: 100%;
        height: 50%;
        z-index: 7;
        display: flex;
        justify-content: center;
        align-items: end;
        overflow: hidden;
    }
    .hrLine{
        width: 1px;
        height: 3px;
        background: white;
    }
    .position{
        font-family: salks;
        font-size: 1.3em;
        color: white;
        transform: translateY(-100px);
        position: absolute;
        top: -100px;
        // animation: animateDisplay 3s ease-in 0.2s;

        // @keyframes animateDisplay{
        //     0%{
        //         opacity: 0;
        //     }
        //     100%{
        //         opacity: 1;
        //     }
        // }
    }
    .positionCtnr{
        position: relative;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
}