.topSection{
    height: 100vh;
    background-image: url("../../Images/pexels-billelmoula-540518.jpg");
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;

    @keyframes fadeIn {
        0% {
            opacity: 0
        }
      
        to {
            opacity: 1
        }
      }
      
      .animate-fadeIn {
        animation: fadeIn 2s;
        animation-delay: 2s;
      }
      
      @keyframes slideUp {
        0% {
            transform: translateY(100%)
        }
      
        to {
            transform: translateY(0)
        }
      }
      
      .animate-slideUpCubiBezier {
        animation: slideUp 1s cubic-bezier(.165,.84,.44,1) 0.6s;
      }

    .name{
        font-size: 4.5em;
        font-family: salks;
        color: white;
        position: absolute;
        animation: slideUp 2s cubic-bezier(.165,.84,.44,1);
        // animation: animateDisplay 3s ease-in 0.2s;

        // @keyframes animateDisplay{
        //     0%{
        //         opacity: 0;
        //     }
        //     100%{
        //         opacity: 1;
        //     }
        // }
    }
    .nameCtnr{
        position: relative;
        width: 100%;
        height: 50%;
        z-index: 7;
        display: flex;
        justify-content: center;
        align-items: end;
        overflow: hidden;
    }
    .hrLine{
        width: 1px;
        height: 3px;
        background: white;
    }
    .position{
        font-family: salks;
        font-size: 1.3em;
        color: white;
        animation: fadeIn 2s;      
        // animation: animateDisplay 3s ease-in 0.2s;

        
        // @keyframes animateDisplay{
        //     0%{
        //         opacity: 0;
        //     }
        //     100%{
        //         opacity: 1;
        //     }
        // }
    }
    .positionCtnr{
        position: relative;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
}