header{
    width: 100%;
    position: fixed;
    padding: 12px 20px;
    background: var(--white-bg);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid var(--font-black);
    transition: all 0.6s ease;

    .logo{
        font-family: Apple Crush;
        letter-spacing: 1.5px;
        text-wrap: wrap;
        height: fit-content;
        color: var(--font-color);
        line-height: 1;
        font-size: 24px;
    }
    ul{
        display: flex;
        list-style-type: none;
        align-items: center;
        gap: 20px;
        li{
            position: relative;
            cursor: pointer;
            text-wrap: nowrap;
            font-size: 20px;

            &:hover{
                a{
                    color: var(--font-hover);
                }
                &::before{
                    left: 0px;
                    right: 0px;
                    background: var(--font-hover);
                }
            }
            &::before{
                content: "";
                position: absolute;
                z-index: -1;
                left: 51%;
                right: 51%;
                bottom: 0px;
                background: var(--font-black);
                height: 1px;
                transition-property: left, right;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
            }
            a{
                color: var(--font-black);
                text-decoration: none;
                font-family: Salks;
                font-weight: normal;
            }
        }
        .mobile{
            display: none;
            &:hover{
                opacity: 0.8;
            }
        }
    }
    .menuDiv{
        display: flex;
        gap: 14px;
        align-items: center;
        padding: 1.5em;
    }
    .menuIcon{
        display: none;
        color: var(--font-color);
        font-size: 38px;

    }
    .headerBtn{
        width: 100px;
        background: #7C5DFA;
        color: white;
        text-decoration: none;
        padding: 6px 20px;
        border-radius: 12px;

        &:hover{
            opacity: 0.8;
        }
    }
    .themeIcon{
        cursor: pointer;
        color:var(--theme-icon);
        font-size: 24px;
        margin-top: 6px;
    }
}