header{
    width: 100%;
    position: fixed;
    padding: 12px 20px;
    background: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid #000;
    .logo{
        font-family: Motisan;
        text-wrap: wrap;
        height: fit-content;
    }
    ul{
        display: flex;
        list-style-type: none;
        align-items: center;
        gap: 20px;
        li{
            position: relative;
            cursor: pointer;

            &:hover{
                a{
                    color: #535bf2;
                }
                &::before{
                    left: 0px;
                    right: 0px;
                    background: #535bf2;
                }
            }
            &::before{
                content: "";
                position: absolute;
                z-index: -1;
                left: 51%;
                right: 51%;
                bottom: 1.5px;
                background: black;
                height: 1px;
                transition-property: left, right;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
            }
            a{
                color: #000;
                text-decoration: none;
                font-family: Salks;
                font-weight: normal;
            }
        }
        button{
            display: none;
        }
    }
    div{
        display: flex;
        gap: 14px;
        align-items: center;
        padding: 1.5em;
    }
    .menuIcon{
        display: none;
    }
    button{
        width: 100px;
        background: #7C5DFA;
        color: white;
    }
    .themeIcon{
        cursor: pointer;
    }
}