@import "../../ReponsiveStyles/mobileDesign.scss";

header{
    @include xs{
        position: static;
        display: grid;
        grid-template-columns: 1fr 1fr;
        div{
            padding: 10px;
        }
        ul{
            width: 100%;
            flex-direction: column;
            display: none;
            transition: all 0.6s ease-in-out;
        }
        .menuDiv{
            justify-self: end;
            font-weight: bolder;
        }
        .themeIcon{
            display: none;
        }
        .logo{
            color: white;
            padding: 0;
        }
        .menuIcon{
            display: flex;
            color: white;
            padding: 0;
        }
        .headerBtn{
            display: none;
        }
        ul{
            li{
                &:hover{
                    a{
                        color: white;
                    }
                    &::before{
                        background: white;
                    }
                }
                &::before{
                    z-index: 10;
                    background: white;
                }
                a{
                    color: white;
                }
            }
        }
        .active{
                display: flex;
                height: fit-content;
                padding-top: 20px;
                background: inherit;
                grid-row-start: 2;
                grid-column-start: 1;
                grid-column-end: -1;
                button{
                    display: block;
                }

                 @at-root header{
                    height: fit-content;
                    background: #6e07f3;
                }
        }   
    }
}
