@import "../../ReponsiveStyles/mobileDesign.scss";

.thirdSection{
    @include xs{
        min-height: 600px;
        max-height: 1015px;
        overflow: hidden;
        flex-direction: column;
        align-items: center;

        .cardCtnr{
            .heading{
                width: 100%;
            }

            .card{
                flex-basis: content;
                height: 380px;
                padding-bottom: 80px;

                .front{
                    top: 30%;
                    color: white;
                    padding-bottom: 50px;
                }

                .cardBg{
                    transform: scale(4);
                }
            }
        }

        .reponsiveFooter{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 8px 20px;
            position: absolute;
            bottom: 0;
            left: 0;
            cursor: pointer;
            z-index: 20;
            background: inherit;
            p{
                display: block;
                text-decoration: underline;
                color: dodgerblue;
            }
        }
    }
    @include sm{
        .cardCtnr{
            .card{
                flex-basis: calc(50% - 30px);
                height: 360px;
                padding-bottom: 30px;
            }
            .heading{
                flex-basis: calc(50% - 30px);
            }
        }
    }
}
.active{
    color: blue;
        max-height: fit-content;
        padding-bottom: 30px;
}