@import "../../ReponsiveStyles/mobileDesign.scss";

.thirdSection{
    @include xs{
        min-height: 745px;
        height: 0;
        max-height: 1570px;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        padding: 40px 30px;

        .cardCtnr{
            .heading{
                width: 100%;
            }

            .card{
                flex-basis: content;    

                .front{
                    color: white;
                }
            }
        }

        .reponsiveFooter{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 8px 20px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 20;
            background: inherit;
            p{
                cursor: pointer;
                display: block;
                text-decoration: underline;
                color: dodgerblue;
                width: fit-content;
            }
        }
    }
    @include sm{
        .cardCtnr{
            .card{
                flex-basis: calc(50% - 30px);
                padding-bottom: 30px;

            }
            .heading{
                flex-basis: calc(50% - 30px);
            }
        }
    }
}
.active{
    color: blue;
    height: fit-content;
    padding-bottom: 30px;
}
