@import "../../ReponsiveStyles/mobileDesign.scss";

.thirdSection{
    @include xs{
        min-height: 600px;
        max-height: 882px;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        .cardCtnr{
            .heading{
                width: 100%;
            }

            .card{
                flex-basis: content;
            }
        }

        .reponsiveFooter{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 8px 20px;
            position: absolute;
            bottom: 0;
            left: 0;
            cursor: pointer;
            z-index: 20;
            background: white;
            p{
                display: block;
                text-decoration: underline;
                color: dodgerblue;
            }
        }
    }
    @include sm{
        .cardCtnr{
            .card{
                flex-basis: calc(50% - 30px);
            }
        }
    }
}
.active{
    color: blue;
        max-height: fit-content;
        padding-bottom: 30px;
}