.thirdSection{
    width: 100vw;
    height: auto;
    min-height: fit-content;
    background: var(--white-bg);
    display: flex;
    flex-direction: column;
    padding: 100px;
    position: relative;
    
    .heading{
        font-weight: 800;
        padding-left: 25px;
        font-size: 55px;
        letter-spacing: -0.1px;
        line-height: 44px;
        font-family: Salks;
        margin: 0 15px 30px;
        color: dodgerblue;
        flex-basis: calc(33.33333% - 30px);
    }
    .cardCtnr {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        // @mixin animate($animation-name, $animation-duration, $animation-direction, $animation-iteration-count){
        //     animation : $animation-name $animation-duration $animation-direction $animation-iteration-count;
        // }

        // @mixin keyframes($name){
        //     @keyframes #{$name}{
        //         @content;		
        //     }
        // }

        //       .card1{
        //     margin-right: calc($width / 4);
        //     margin-left: calc($width /4);
        //     grid-column-start: 1;
        //     grid-column-end: 3;

        //     @include animate(animateDisplay, 3s, linear, infinite);

        //     @include keyframes(animateDisplay) {
        //         0% {
        //           transform: translate(0,0);
        //           opacity: 1;
        //         }
        //         100% {
        //           transform: translate(30px,30px);
        //           opacity: 0;
        //         }
        //       }
        //     }
        //     .card2{
        //         @include animate(animateY, 3s, linear, infinite);

        //         @include keyframes(animateY) {
        //             0% {
        //               transform: translateY(0px);
        //               opacity: 1;
        //             }
        //             100% {
        //               transform: translateY(-50px);
        //               opacity: 0;
        //             }
        //           }
        //     }

        //     .card3{
        //         @include animate(animateX, 3s, linear, infinite);

        //         @include keyframes(animateX) {
        //             0% {
        //               transform: translateX(0);
        //               opacity: 1;
        //             }
        //             100% {
        //               transform: translateX(-50px);
        //               opacity: 0;
        //             }
        //           }
        //     }

        }
    .card{
        flex-basis: calc(33% - 30px);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        position: relative;
        background: var(--card-bg);
        overflow: hidden;
        color: var(--font-color);
        margin: 0 15px 30px;
        box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.2);
        transition: all 0.1s ease;
        overflow: hidden;


        &:hover{
            color: white;
            img{
                top:-100%;
            }
            .front{
                opacity: 1;
            }

        }
        img{
            width:auto;
            height: auto;
            min-height: 100%;
        }
        .front{
            position: absolute;
            background:#1a1e1fd9;
            width: 100%;
            height: 100%;
            transition: all 0.5s ease-in;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 15px 15px;
            opacity: 0;
            gap: 8px;
        }
        h4{
            font-family: salks;
            font-size: 20px;
            text-wrap: balance;
            letter-spacing: 1px;
            position: relative;
        }
        p{
            font-family: Futura;
            position: relative;
            font-size: 13px;
            text-wrap: balance;
            text-align: center;
        }
        a{
            font-size: 12   px;
            font-weight: 900;
            font-family: Futura;
            color: inherit;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 4px;
            padding: 0.5rem 1.1rem;
            font-family: Futura;
            text-decoration: none;
            width: fit-content;
            transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);

            &:hover{
                transform: translate(2px, -4px);
                outline: none;
                box-shadow: 3px 3px 0 0 inherit;
            }
        }

    }

    .reponsiveFooter{
        display: none;
        p{
            display: none;
        }
    }
}