@import "../../ReponsiveStyles/mobileDesign.scss";
.secondSection{
    @include xs{
         flex-direction: column;
         height: fit-content;
         padding-top: 30px;
         padding-bottom: 60px;
         padding-left: 30px;
         padding-right: 30px;

         .serviceHeading{
            width: 100%;
            padding-top: 20px;
         }
         .list{
            width: 100%;
         }
    }
}