.secondSection{
    width: 100vw;
    min-height: fit-content;
    max-height: 100vh;
    background:#f2f2f2;
    display: flex;
    padding: 150px 45px;
    padding-top: 55px;

    .serviceHeading{
        width: 50%;
        height: fit-content;
        padding-top: 70px;
        text-align: center;

        h1{
            font-weight: 800;
            font-size: 55px;
            letter-spacing: -0.1px;
            line-height: 44px;
            font-family: Salks;
            margin-bottom: 20px;
            color: dodgerblue;
        }
        h4{
            font-family: Ralsteda Italics;
            color: #22313f;
            font-weight: bold;
        }
    }
    .list{
        width: 50%;
        height: 100%;
        list-style: none;
        padding-top: 50px;
        

        li{
            margin: 20px 5px;
            padding: 15px 10px;
            font-family: Futura Bold;
            font-size: 28px;
            letter-spacing: normal;
            border-top: 3px solid #000;
            font-weight: 900;
            color: #666;
            text-wrap: nowrap;

        }
    }
}