.sideMenu{
    width: 90px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    background: transparent;
    padding: 12px 12px;
    color: white;
    justify-content: end;
    padding-bottom: 70px;
    align-items: center;
    overflow: hidden;
    z-index: 14;

    hr{
        width: 4px;
        height: 100px;
        background: white;
        transform: translateX(-100px);
    }

    .icon{

        transform: translateX(-100px);
        transition: transform 1s ;

        svg{
            background: transparent;
            color: white;
            font-size: 25px;
        }
    }
}