@import "../../ReponsiveStyles/mobileDesign.scss";

.footer{
    @include xs{
        padding-top: 200px;
        .topContent{
            flex-direction: column;
            gap: 20px;
        }
    }
}