@import "./assets/ReponsiveStyles/mobileDesign.scss";
.sticky{
  display: none;
}
@keyframes fadeIn {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

.animate-fadeIn {
  animation: fadeIn 2s;
  animation-delay: 2s;
}

@keyframes slideUp {
  0% {
      transform: translateY(100%)
  }

  to {
      transform: translateY(0)
  }
}

.animate-slideUpCubiBezier {
  animation: slideUp 1s cubic-bezier(.165,.84,.44,1)
}

section{
    width: 100vw;
    height: auto;
    min-height: 700px;
    position: relative;
    display: flex;
    padding: 100px 70px;
}
@include xs{
    .sticky{
      display: block;
        position: sticky;
        top: 0;
        margin-top: -40px;
        margin-left: -30px;
        right: 0;
        grid-row-start: 1;
        align-self: start;
        background: transparent;
        backdrop-filter: blur(8px);
        width: 110%;
        padding: 1em 0.5em;
        color: white;
        font-size: 1.4em;
        z-index: 13;
        font-weight: 700;
        font-family: Futura Bold;
    }
}

.noscroll {
    width: 100vw;
    min-width: 320px;
    min-height: 100vh;
    overflow: hidden;
  
  }